{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvennue dans ce blog !</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam adipisci mollitia deserunt voluptas minima labore consequuntur tenetur quaerat molestias corporis ipsum, illo dicta sequi corrupti minus fugit ut sint odit. Iure, debitis doloremque! Exercitationem quidem iure veniam aspernatur minima nulla?</p>
<p>Culpa exercitationem explicabo itaque commodi harum laborum a quisquam fugiat quasi nulla nemo, nam numquam, pariatur iste ipsam quia quis quae. Possimus minus reprehenderit deserunt autem cupiditate neque suscipit voluptates. Hic, pariatur ea ratione facere magnam quae cumque eos amet!</p>

{% endblock %}